*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
font-family: "Poppins", sans-serif;
background-color: #000000;
color: #690e0e;
}
header{
background-color: #5E0006;
color: #9B0F06;
width: 100%;
padding: 20px;
}
.cabecalho-itens{
max-width: 1980px;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: center;
}
.cabecalho-imagem{
width: 5%;
display: flex;
justify-content: flex-start;
align-items: center;
}
.titulo_site{
padding: 50px;
text-align: center;
width: 50%;
font: 30px;
}
.sociais{
display: flex;
justify-content: flex-end;padding: 0;

width: 25%;
padding-right: 30px;
}
.banner1{
display: flex;
justify-content: center;
}
.estudante_titulo{padding: 0;

padding: 50px;
text-align: center;
justify-content: space-around;

}
.estudante-nome{
text-align: center;
}
.estudante-imagem{
width: 50%;
}
.estudante-icone{
width: 38px;
padding: 4px 8px;
}
.estudante{
background-image: background-color(#5E0006);
padding: 24px 0;
}

.estudante.div{
text-align: center;padding: 0;

padding: 24px 0;
}
.estudantes_todos{
display: flex;
justify-content: space-around;
}
.escola{
background-image: linear-gradient(#9B0F06,#D53E0F);
color: #9B0F06;
display: flex;
justify-content:center;
padding: 24px 0;
text-align:center;
display:block;
}
.escola-titulo{
padding: 50px;
text-align: center;
}
.logo_rodape{
height: 80px;
padding: 12px 0;

}

.link{
color: #D51C39;
text-decoration: none;padding: 0;

}